{% extends "layoutfile.html" %}

{% block title %}
<title>forget password </title>

{% endblock %}
{% block body %}
<div  >
<form action="" method="post" class="form form-group">           
    {% if message %}
    <h1 style="color: brown;">{{message}}</h1>

    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for mess in messages %}
        <h1 style="color: brown;">{{mess}}</h1>
    {% endfor %}
    {% endif %}

    {% endwith %}
            
    <label>Enter Email address here</label>
    <input type="email" name="email"  class="form form-group form-control" id="email" placeholder="Enter email address" required><br>

    <input type="submit" class="btn btn-outline-primary" value="Submit">
</form><br>
</div>


{% endblock %}