<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forget password</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Update password</h1> 
        {% if message %}
        <h1 style="color: brown;">{{message}}</h1>
    
        {% endif %}
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for mess in messages %}
            <h1 style="color: brown;">{{mess}}</h1>
        {% endfor %}
        {% endif %}
    
        {% endwith %}
    </main>
    <div>
    <form action="" method="post" class="form form-group">           
                    
                    
        <label>Enter user password</label>
        <input type="password" name="password"  class="form form-group form-control" id="email" placeholder="Enter New password"><br>
        
        <input type="submit" class="btn btn-outline-primary" value="Submit">
    </form><br>
    </div>
	
  </body>
</html>
